{%extends "admind.html"%}
{%block content%}
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="booking p-5 mt-5">
            <div class="row g-5 align-items-center">
                <div class="col-md-10 mr-0">
                    <h1 class="text-white mb-4">Add Package</h1>
                    <form method="post">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control bg-transparent" id="name" name="pname" required
                                        placeholder="Package Name">
                                    <label for="name">Package Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="number" class="form-control bg-transparent" id="price" name="price" required
                                        placeholder="Package Price">
                                    <label for="price">Price</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="number" class="form-control bg-transparent" id="days" name="days" required
                                        placeholder="Days">
                                    <label for="days">Days</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="number" class="form-control bg-transparent" id="np" name="np" required
                                        placeholder="No of Persons">
                                    <label for="np">No of Persons</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control bg-transparent" id="url" name="url" required
                                        placeholder="Image URL">
                                    <label for="url">Image URL</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-outline-light w-100 py-3" type="submit">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}