{%extends "Nav.html" %}{%block title%}Hotels{%endblock%}
{%block content%}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body>

    <br>
    <br>

    <div class="container-xxl py-5">

        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Hotels</h6>
                <br>
            </div>
            <br>
            <div class="row g-4 justify-content-center">
                {% for hotel in Hotel %}
                <div class="col-lg-4 col-md-10 wow fadeInUp" data-wow-delay="0.1s">

                    <div class="package-item">

                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{{hotel.url}}" alt="{{hotel.hname}}">
                        </div>

                        <div class="d-flex border-bottom">
                            <small class="flex-fill text-center border-end py-2"><i
                                    class="fa fa-map-marker-alt text-primary me-2"></i>{{hotel.name}}</small>
                            <small class="flex-fill text-center border-end py-2"><i
                                    class="fa fa-calendar-alt text-primary me-2"></i>{{hotel.city}} </small>
                            <small class="flex-fill text-center py-2"><i
                                    class="fa fa-user text-primary me-2"></i>{{hotel.price}}/
                                Person</small>
                        </div>
                        <div class="text-center p-4">
                            <h3 class="mb-0">{{hotel.rating}}</h3>
                            <div class="mb-3">
                                <small class="bi bi-star-fill" style="color:rgb(241, 199, 7);"></small>
                                <small class="bi bi-star-fill" style="color:rgb(241, 199, 7);"></small>
                                <small class="bi bi-star-fill" style="color:rgb(241, 199, 7);"></small>
                                <small class="bi bi-star-fill" style="color:rgb(241, 199, 7);"></small>
                                <small class="bi bi-star-fill" style="color:rgb(241, 199, 7);"></small>
                            </div>
                            <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam eos</p>
                            <div class="d-flex justify-content-center mb-2">
                                <button class="btn btn-sm btn-primary px-3" style="border-radius: 30px;"  onClick="window.location.href='/hcheckout/{{hotel.h_id}}'">
                                    Book
                                    Now
                                </button>
                            </div>

                        </div>

                    </div>

                </div>
                {% endfor %}
            </div>


        </div>

    </div>

</body>
{%endblock%}